  <% @team_number.times do %>  
   
         <div class="panel-body">
         <div class="row">
          
            <div class="col-md-4">
              <img src="<%=@avatar_image%>">
            <br/><br/>
            </div>

            <div class="col-md-4">
            <h3> Your Superhero Name:
            <div><span class="green"> <%= @hero_prefix +' '+ @hero_name %> </span></h3>
            <h3>Your Super Power:
            <div><span class="green"> <%= @hero_power %> </span></h3>
            <br/>
            <div><h4>Your undercover day job is:
            <div><h4><span class="corp_green"> <%= @corp_job %> </span></h4>
            <h4>Your corporate power is:
            <div><h4><span class="corp_green"> <%= @corp_power %> </span></h4>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            
              <div class="col-md-4">
              </div>
              
              <% end %>
              
              <div class="panel-footer">
              <%= link_to 'Create A new team', home_team_path %>
              </div>
              
              </div>
              </div>
                
  

        
          