<h> This is my third page </h>
<p> The second line of my thrid page </p>

 <% if @team_number %>
        Your team members!
        <% else %>
        How Many Team Members Do You Want?
        <% end %></h3>

<div class="row">
  <div class="col-md-4">
      
      <div> <%= form_tag home_team_path,:method => 'POST' do %>
            <%= select_tag(:team_number, options_for_select([
                            ["1", 1],
                            ["2", 2],
                            ["3", 3],
                            ["4", 4],
                            ["5", 5],
                            ["6", 6],
                            ["7", 7],
                            ["8", 8],
                            ["9", 9],
                            ["10", 10],
                            ]), class: "col-md-10", class: "form-control form-group-lg" ) %> </div>
                            
                        <% end %>
                        
                        </div> 
  <div class="col-md-4">
        
  <form class="form-inline">
  <div class="form-group">
      
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    
  </div>
  <div class="form-group">
      
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
    
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form>
</div>
  <div class="col-md-4">
    
     <form class="form-horizontal">
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" for="formGroupInputLarge">Large label</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Large input">
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Small label</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Small input">
    </div>
  </div>
</form>
          </div>

      
                    </div>
      # show_team_section #

<% puts (@team_number).times do %>

          <%= <div class="row"> %>
          <%= <div class="col-md-4"> %>
            <%= <img src="<%=@avatar_image%>"> %>
        <br/><br/>
            </div>

          <%= <div class="col-md-4"> %>
          <%= <h3> Your Superhero Name:<div> %>
          <%= <span class="green"> <%= @hero_prefix +' '+ @hero_name %> </span></h3> %>
          <%= <h3>Your Super Power:<div> %>
          <%= <span class="green"> <%= @hero_power %> </span></h3> %>
            <br/><div>
          <%= <h4>Your undercover day job is:<div> %>
        <%= <h4><span class="corp_green"> <%= @corp_job %> </span></h4> %>
         <%= <h4>Your corporate power is:<div> %>
        <%= <h4><span class="corp_green"> <%= @corp_power %> </span></h4> %>
         <% end %> 

          
          </div>
         </div>
          </div>
            </div>
            </div>
          </div>
         
        <div class="col-md-4">
          </div>
          <div class="panel-footer">
            <%= link_to 'Create A new team', home_team_path %>
            
              </div>
              </div>

----------------------------------------------------------------



   <div class="row">
            <div class="col-md-4">
              <img src="<%=@avatar_image%>">
        <br/><br/>
            </div>

              <div class="col-md-4">
            <h3> Your Superhero Name:<div>
            <span class="green"> <%= @hero_prefix +' '+ @hero_name %> </span></h3>
            <h3>Your Super Power:<div>
            <span class="green"> <%= @hero_power %> </span></h3>
            <br/><div>
            <h4>Your undercover day job is:<div>
          <h4><span class="corp_green"> <%= @corp_job %> </span></h4>
            <h4>Your corporate power is:<div>
          <h4><span class="corp_green"> <%= @corp_power %> </span></h4> 
         




















